<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28919249783-a4i9i4ilpt9u0toegn49gvkdgol157il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28919249783-a4i9i4ilpt9u0toegn49gvkdgol157il</string>
	<key>API_KEY</key>
	<string>AIzaSyBCHtIYehJPn6nQHQs0qO9N2ksn7vOSlrA</string>
	<key>GCM_SENDER_ID</key>
	<string>28919249783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Thibault.Ballof.P12</string>
	<key>PROJECT_ID</key>
	<string>projet-12-914b0</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-12-914b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28919249783:ios:c8dc366c36343618adbf72</string>
</dict>
</plist>